<a href="https://colab.research.google.com/github/Yuwin2008/Naive-Bayes/blob/main/Naive_bayes_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Uploading the csv
from google.colab import files
data_to_load = files.upload()

Saving income.csv to income.csv

In [2]:
import pandas as pd
import plotly.express as px

df = pd.read_csv("income.csv")

df.head()

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K

[5 rows x 14 columns]

In [6]:
from sklearn.model_selection import train_test_split
X = df[['age','capital-loss','education-num','capital-gain','hours-per-week']]
y = df[['income']]

Xtrain1,Xtest1,Ytrain1,Ytest1 = train_test_split(X,y, test_size=0.25, random_state=48)

In [7]:
from sklearn.metrics import  accuracy_score
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xtrain1=sc.fit_transform(Xtrain1)
Xtest1 = sc.fit_transform(Xtest1)

In [8]:
from sklearn.naive_bayes import GaussianNB
model1 = GaussianNB()
model1.fit(Xtrain1,Ytrain1)
ypredict1 = model1.predict(Xtest1)
accuracy = accuracy_score(Ytest1,ypredict1)
print(accuracy)

0.7935609410932248

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [10]:
from sklearn.model_selection import train_test_split
X = df[['age','capital-loss','education-num','capital-gain','hours-per-week']]
y = df[['income']]

Xtrain1,Xtest1,Ytrain1,Ytest1 = train_test_split(X,y, test_size=0.25, random_state=48)

from sklearn.metrics import  accuracy_score
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xtrain1=sc.fit_transform(Xtrain1)
Xtest1 = sc.fit_transform(Xtest1)

from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(Xtrain1,Ytrain1)
ypredict1 = model1.predict(Xtest1)
accuracy = accuracy_score(Ytest1,ypredict1)
print(accuracy)

0.811339111975942

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

Linear regression is more accurate  than Naive bayes in this case